.card_wrapper {
  background: antiquewhite;
  border-radius: 10px;
  max-width: 300px;
  max-height: 500px;
  margin: 0.5rem;
  padding: 1rem;
}
.card_content {
  max-height: 200px;
  height: 150px;
  max-width: 250px;
  width: 150px;
}
