.main_div_createnote {
  width: 300px;
  height: 130px;
  margin: 15px auto;
  background-color: rgb(247, 254, 250);
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px #888888;
  border-radius: 15px;
}

.form {
  height: 100%;
}

textarea {
  margin-top: 3px;
  margin-left: 8px;
  padding: 10px;
  width: 90%;
  height: 80px;
  border: none;
  background-color: rgb(247, 254, 250);
}
.form > textarea:focus {
  outline: none;
}

.form > button {
  margin-left: 250px;
  min-width: 0 !important;
  padding: 0 !important;
}

.form > button:hover {
  background-color: green;
  border-radius: 50%;
}

.form button {
  border-radius: 50%;
  background-color: white;
  color: red;
}

.Title_name {
  display: flex;
  justify-content: start;
  padding-left: 100px;
  margin-top: 30px;
}

.Add_sign {
  border-radius: 50%;
  background-color: white;
  color: red;
  background: transparent;
}

.Add_sign:hover {
  background-color: rgb(40, 151, 40);
  border-radius: 50%;
}
